{% block content %}
<form action="/job/add" method="post" enctype="multipart/form-data">
  <div class="field">
    <label for="job_name">Job Name</label>
    <div for="job_name" class="control">
      <input class="input" type="text" name="job_name" id="job_name" placeholder="Apache MXNet MNIST">
    </div>
  </div>
  <div class="field" x-data="{ isMxnet: true, isKeras: false, isPytorch: false, isTensorflow: false }">
    <label for="job_type">Job Type</label>
    <div for="job_type" class="control">
      <label class="button is-rounded" style="margin-bottom: 5px;" :class="{ 'is-info': isMxnet }">
        <input type="radio" name="job_type" value="Apache MXNet" style="margin-right: 5px;" :checked="isMxnet" @click="isMxnet = true; isKeras = false; isPytorch = false; isTensorflow = false;">
        Apache MXNet
      </label>
      <label class="button is-rounded" style="margin-bottom: 5px;" :class="{ 'is-info': isKeras }">
        <input type="radio" name="job_type" value="Keras" style="margin-right: 5px;" :checked="isKeras" @click="isMxnet = false; isKeras = true; isPytorch = false; isTensorflow = false;">
        Keras
      </label>
      <label class="button is-rounded" style="margin-bottom: 5px;" :class="{ 'is-info': isPytorch }">
        <input type="radio" name="job_type" value="PyTorch" style="margin-right: 5px;" :checked="isPytorch" @click="isMxnet = false; isKeras = false; isPytorch = true; isTensorflow = false;">
        PyTorch
      </label>
      <label class="button is-rounded" style="margin-bottom: 5px;":class="{ 'is-info': isTensorflow }">
        <input type="radio" name="job_type" value="TensorFlow" style="margin-right: 5px;" :checked="isTensorflow" @click="isMxnet = false; isKeras = false; isPytorch = false; isTensorflow = true;">
        TensorFlow
      </label>
    </div>
  </div>
  <div class="field">
    <label for="file">Script</label>
    <div for="file" class="control">
      <input class="input" type="file" name="file" id="file">
    </div>
  </div>
  <button class="button is-info">Create</button>
</form>
{% endblock %}