{% block content %}
<nav class="block" role="navigation" aria-label="main navigation" x-data="{ isOpen: false}">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', path='/images/schedulearn.png') }}">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
            @click="isOpen = !isOpen">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" :class="{'is-active': isOpen}">
        <div class="navbar-start">
            {% if user %}
            <a class="navbar-item" href="/dashboard">
                <i class="fas fa-tachometer-alt" style="margin-right: 10px;"></i>
                Dashboard
            </a>
            {% else %}
            <a class="navbar-item" href="/">
                <i class="fas fa-home" style="margin-right: 10px;"></i>
                Home
            </a>
            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">
                <p class="navbar-link">
                    More
                </p>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/dashboard/jobs">
                        <i class="fa-solid fa-briefcase" style="margin-right: 10px;"></i>
                        Jobs
                    </a>
                    <a class="navbar-item" href="/dashboard/users">
                        <i class="fa-solid fa-users" style="margin-right: 10px;"></i>
                        Users
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/dashboard/settings">
                        <i class="fas fa-cog" style="margin-right: 10px;"></i>
                        System Settings
                    </a>
                </div>
            </div>
        </div>

        {% if not user %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/signup">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/signin">
                        Sign in
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/dashboard/profile">
                        <i class="fas fa-user" style="margin-right: 10px;"></i>
                        My Profile
                    </a>
                    <a class="button is-danger" href="/auth/signout">
                        <i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>
<style>
    .is-shown {
        display: block;
    }
</style>
{% endblock %}