<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      {% if user.admin %}
      <td>Admin</td>
      {% else %}
      <td>User</td>
      {% endif %}
      <td style="display: flex; justify-content: space-between;">
        <a href="/user/{{ user.id }}"><i class="fas fa-eye"></i></a>
        <a href="/user/{{ user.id }}/edit"><i class="fas fa-edit"></i></a>
        <a href="/user/{{ user.id }}/delete"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>