{% extends "index.html" %}
{% block content %}
<div class="container block">
    <a class="button is-info block" href="/jobs/create">
        <i class="fa-solid fa-file-circle-plus" style="margin-right: 10px;"></i>
        Create Job
    </a>
    <div class="columns is-multiline">
        {% for job in jobs %}
        <a href="/jobs/{{ job.id }}"
            class="column is-one-third-fullhd is-half-widescreen is-half-desktop is-half-tablet is-full-mobile">
            <div class="card" style="height: 100%;">
                <div class="card-content">
                    <div class="block" style="display: flex; width: 100%;">
                        <span>
                            <p class="title is-6">{{ job.name }}</p>
                            <p class="subtitle is-6">{{ job.type }}</p>
                        </span>
                        <span style="margin-left: auto;">
                            <button href="/jobs/{{ job.id }}" class="button is-light" style="width: 40px;">
                                <!-- View -->
                                <i class="fas fa-eye"></i>
                            </button>
                            <button href="/jobs/{{ job.id }}" class="button is-danger" style="width: 40px;">
                                <!-- Delete -->
                                <i class="fas fa-trash"></i>
                            </button>
                        </span>
                    </div>
                    Elapsed: 
                    <span style="font-weight: bold;">
                        00:20 Hour(s)
                    </span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}