{% extends "index.html" %}

{% block content %}
<p>Name: {{ db_user.first_name }} {{ db_user.last_name }}</p>
<p>Username: {{ db_user.username }}</p>
<p>Email: {{ db_user.email }}</p>
{% if jobs %}
<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>File Location</th>
            <th>Created at</th>
            <th>Updated at</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.type }}</td>
            <td>{{ job.script }}</td>
            <td>{{ job.created_at }}</td>
            <td>{{ job.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}