{% extends "index.html" %}

{% block content %}
{% if user %}
<div>
  {% include "components/navbar.html" %}
  <div class="block">
    <div class="columns">
      <div class="column is-one-fourth card">
        <h1 class="title is-6">Users</h1>
        <p>Normal</p>
        <p>Normal</p>
        <p>Normal</p>
      </div>
      <div class="column is-0"></div>
      <div class="column is-one-fourth card">
        <h1 class="title is-6">Jobs</h1>
        <p>Normal</p>
      </div>
      <div class="column is-0"></div>
      <div class="column is-one-fourth card">
        <h1 class="title is-6">Server</h1>
        <p>Normal</p>
      </div>
      <div class="column is-0"></div>
      <div class="column is-one-fourth card">
        <h1 class="title is-6">Utilization</h1>
        <p>Normal</p>
      </div>
    </div>
  </div>
  
  <div class="block">
    <div class="columns is-half-fullhd is-half-widescreen is-half-desktop is-full-tablet is-full-mobile">
      <div class="column auto card">
        <h1 class="title is-6">Server</h1>
      </div>
      <div class="column is-0"></div>
      <div class="column auto card">
        <h1 class="title is-6">GPU Utilization</h1>
      </div>
    </div>
  </div>

  <div class="columns block row" >
    <div class="column auto card" style="padding: 2rem;">
      <h1 class="title is-6 block">Recent Jobs</h1>
      {% with jobs = user_jobs %}
        {% include "components/job_table.html" %}
      {% endwith %}
    </div>
  </div>
</div>
{% else %}
<h1 style="font-size: 3rem;">
  You are not authorized. Please sign in.
  <a href="/signin">Sign in</a>
</h1>
{% endif %}
<style>
  .dashboard-tiles {
    display: block;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
</style>

<script>
  const ctx = document.getElementById('myChart');
  const ctx2 = document.getElementById('myChart2');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}